* {
    font-family: 'Courier New', Courier, monospace;
}

table, tr, td {
    border: 1px solid black;
    border-collapse: collapse;
}

table td {
    padding: 5px;
}

.width_100 {
    width: 100%;
}