.backbgound_header {
    background-color: rgb(61, 227, 141);
}

.cat_img {
    width: 100px;
}

.align_left {
    text-align: left;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

.margin_auto {
    margin: auto;
}

.margin_right_0 {
    margin-right: 0;
}

.top_element {
    vertical-align: top;
}

.width_20 {
    width: 20%;
}

.width_100 {
    width: 100%;
}

.border_right_solid_green {
    border-right: 5px solid green;
}

a {
    color: black;
}

a:visited {
    color: red;
}

a:hover {
    color: green;
}

a:visited:hover {
    color: blue;
}

.content_container {
    border: 3px dotted green;
}

.details_container .details_toggle ~ .details_content {
    display: none;
}

.details_container .details_toggle:checked ~ .details_content {
    display: block;
}