@import 'vars';
* {
    font-family: Consolas;
    background-color: $body-background-color;
    color: $main-text-color;
}

body * {
    border: solid 1px $table-border-color;
}

body *::selection {
    background: transparent;
}